@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rzygix');
  src:  url('fonts/icomoon.eot?rzygix#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rzygix') format('truetype'),
    url('fonts/icomoon.woff?rzygix') format('woff'),
    url('fonts/icomoon.svg?rzygix#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bluesky:before {
  content: "\e900";
}
.icon-signal:before {
  content: "\e901";
}
.icon-threads:before {
  content: "\e902";
}
.icon-playstation:before {
  content: "\e903";
}
.icon-messenger:before {
  content: "\e904";
}
.icon-stripe:before {
  content: "\e905";
}
.icon-slack:before {
  content: "\e906";
}
.icon-gitlab:before {
  content: "\e907";
}
.icon-line:before {
  content: "\e908";
}
.icon-medium:before {
  content: "\e909";
}
.icon-xbox:before {
  content: "\e90a";
}
.icon-wechat:before {
  content: "\e90b";
}
.icon-discord:before {
  content: "\e90c";
}
.icon-mastodon:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-book:before {
  content: "\e90f";
}
.icon-library:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-envelop:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-bubbles:before {
  content: "\e914";
}
.icon-quotes-right:before {
  content: "\e915";
}
.icon-wrench:before {
  content: "\e916";
}
.icon-trophy:before {
  content: "\e917";
}
.icon-briefcase:before {
  content: "\e918";
}
.icon-earth:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e91a";
}
.icon-star-empty:before {
  content: "\e91b";
}
.icon-star-half:before {
  content: "\e91c";
}
.icon-star-full:before {
  content: "\e91d";
}
.icon-heart:before {
  content: "\e91e";
}
.icon-new-tab:before {
  content: "\e91f";
}
.icon-amazon:before {
  content: "\e920";
}
.icon-google:before {
  content: "\e921";
}
.icon-google-plus:before {
  content: "\e922";
}
.icon-google-drive:before {
  content: "\e923";
}
.icon-facebook:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e925";
}
.icon-whatsapp:before {
  content: "\e926";
}
.icon-spotify:before {
  content: "\e927";
}
.icon-telegram:before {
  content: "\e928";
}
.icon-twitter-old:before {
  content: "\e929";
}
.icon-vine:before {
  content: "\e92a";
}
.icon-vk:before {
  content: "\e92b";
}
.icon-renren:before {
  content: "\e92c";
}
.icon-sina-weibo:before {
  content: "\e92d";
}
.icon-rss:before {
  content: "\e92e";
}
.icon-youtube:before {
  content: "\e92f";
}
.icon-twitch:before {
  content: "\e930";
}
.icon-vimeo:before {
  content: "\e931";
}
.icon-lanyrd:before {
  content: "\e932";
}
.icon-flickr2:before {
  content: "\e933";
}
.icon-dribbble:before {
  content: "\e934";
}
.icon-behance:before {
  content: "\e935";
}
.icon-deviantart:before {
  content: "\e936";
}
.icon-500px:before {
  content: "\e937";
}
.icon-steam:before {
  content: "\e938";
}
.icon-dropbox:before {
  content: "\e939";
}
.icon-onedrive:before {
  content: "\e93a";
}
.icon-github:before {
  content: "\e93b";
}
.icon-npm:before {
  content: "\e93c";
}
.icon-basecamp:before {
  content: "\e93d";
}
.icon-trello:before {
  content: "\e93e";
}
.icon-wordpress:before {
  content: "\e93f";
}
.icon-joomla:before {
  content: "\e940";
}
.icon-ello:before {
  content: "\e941";
}
.icon-blogger:before {
  content: "\e942";
}
.icon-tumblr:before {
  content: "\e943";
}
.icon-yahoo:before {
  content: "\e944";
}
.icon-soundcloud:before {
  content: "\e945";
}
.icon-skype:before {
  content: "\e946";
}
.icon-reddit:before {
  content: "\e947";
}
.icon-hackernews:before {
  content: "\e948";
}
.icon-wikipedia:before {
  content: "\e949";
}
.icon-linkedin2:before {
  content: "\e94a";
}
.icon-lastfm:before {
  content: "\e94b";
}
.icon-delicious:before {
  content: "\e94c";
}
.icon-stumbleupon:before {
  content: "\e94d";
}
.icon-stackoverflow:before {
  content: "\e94e";
}
.icon-pinterest2:before {
  content: "\e94f";
}
.icon-xing2:before {
  content: "\e950";
}
.icon-flattr:before {
  content: "\e951";
}
.icon-foursquare:before {
  content: "\e952";
}
.icon-yelp:before {
  content: "\e953";
}
.icon-paypal:before {
  content: "\e954";
}
.icon-mail:before {
  content: "\e955";
}
.icon-rss2:before {
  content: "\e956";
}
.icon-box-add:before {
  content: "\e957";
}
.icon-spinner11:before {
  content: "\e958";
}
.icon-cog:before {
  content: "\e959";
}
.icon-power-cord:before {
  content: "\e95a";
}
.icon-menu:before {
  content: "\e95b";
}
.icon-arrow-right2:before {
  content: "\e95c";
}
.icon-arrow-left2:before {
  content: "\e95d";
}
.icon-home3:before {
  content: "\e95e";
}
.icon-mail2:before {
  content: "\e95f";
}
.icon-brightness-contrast:before {
  content: "\e960";
}
.icon-search:before {
  content: "\e961";
}
.icon-key:before {
  content: "\e962";
}
.icon-quill:before {
  content: "\e963";
}
.icon-flag:before {
  content: "\e964";
}
.icon-man-woman:before {
  content: "\e965";
}
.icon-cross:before {
  content: "\e966";
}
.icon-file-empty:before {
  content: "\e967";
}
.icon-printer:before {
  content: "\e968";
}
.icon-user-plus:before {
  content: "\e969";
}
.icon-file-pdf:before {
  content: "\e96a";
}
.icon-copy:before {
  content: "\e96b";
}
.icon-checkmark:before {
  content: "\e96c";
}
.icon-history:before {
  content: "\e96d";
}
